
<div class="main-container" align="center">
      <div class="bloque">
        <form #myform="ngForm" class="myform" align="left">
          <mat-form-field class="input-full-width">
            <mat-label>Pedido</mat-label>
            <input matInput placeholder="Pedido" [(ngModel)]="datosPedido" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="input-full-width">
            <mat-label>Cliente</mat-label>
            <input matInput placeholder="Cliente" [(ngModel)]="datosCliente" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="addItem();">Guardar Pedido</button>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="pedido">
                  <th mat-header-cell *matHeaderCellDef> Pedido </th>
                  <td mat-cell *matCellDef="let element;"> {{element.pedido}} </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <th mat-header-cell *matHeaderCellDef> Cliente </th>
                  <td mat-cell *matCellDef="let element;"> {{element.cliente}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let element;"> {{element.fecha | date: 'EEEE, MMMM d, y, h:mm:ss a zzzz' }} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element;"><button mat-raised-button color="warn" (click)="deleteItem( element.id )">Eliminar</button>  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
</div>